
   body {
  background-color: white;
   font-family: sans-serif;
   margin: 0;

   }
   
   footer {
text-align: center;
background: black;
color: white;
position:fixed;
bottom:0;
width:100%;
height:60px;   /* Height of the footer */
}
footer a {
   text-decoration: none; 
}
   
   nav a {
         text-decoration: none:
         color: black;
         background-color: #6a96cf;
         border-radius: 2px;
        margin: 5px;
        padding: 5px;
        display: inline-block;
        transition: 1s all;
        text-decoration: none; 
        
         
   }
   nav a:hover{
        background-color: #954b96;  
      }
      
      header{
         text-align:center;
      }
      
    header img{
        border-radius: 50%;
    }  
     header h1{
         font-family:'Changa One', cursive;
     }
   
   
   h2{
    color:black;
   }
   
   
   section{
        text-align: center;
        background-image:url(https://s3.amazonaws.com/StartupStockPhotos/20140808_StartupStockPhotos/103.jpg);
        height: 300px;
        background-size: cover;
    }
    
   #features{
   background-image: none;
    background-color: black;
    height: 210px;
   }
    
    p {
background-color: #954b96;
font-family:impact, haettenschweiler,"arial narrow bold", sans-serif;
margin: 15px;
padding: 20px;
width: 300px; 
display: inline-block;
}
    
    button{
        color: #FFF;
        background-color: #F00;
        border: none;
        border-radius: 3px;
        padding: 5px;
        margin-top:40px;
    }
    
    table {
       width: 1214px;
       margin: 0 auto;
    }
    .button {
   border-top: 1px solid #d497f7;
   background: #659fd6;
   background: -webkit-gradient(linear, left top, left bottom, from(#9c3e8c), to(#659fd6));
   background: -webkit-linear-gradient(top, #9c3e8c, #659fd6);
   background: -moz-linear-gradient(top, #9c3e8c, #659fd6);
   background: -ms-linear-gradient(top, #9c3e8c, #659fd6);
   background: -o-linear-gradient(top, #9c3e8c, #659fd6);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
 .button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
 .button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

/*
	----------------------------
	LAYOUT
	____________________________
*/


#wrapper { width: 960px; margin: 0 auto; padding: 48px 0 72px; }
#main { width: 640px; float: left; }
#main > p, #main > div { margin-left: 7px; }
#sidebar { width: 280px; float: right; }
#sidebar ol { margin: 12px 0 12px 22px; }
/*
	----------------------------
	PAGE/SECTION SPECIFIC
	____________________________
*/


#video-controls { width: 333px; }
#video-controls a { color: #ddd; text-decoration: underline; }


/*
	----------------------------
	UTILITY CLASSES
	____________________________
*/


.black-15 { background: url(../media/black-15-trans.png); color: #fff; padding: 4px 12px; margin: 24px 0; }
.black-35 { background: url(../media/black-35-trans.png); color: #fff; padding: 4px 12px; margin: 24px 0; }
.black-50 { background: url(../media/black-50-trans.png); color: #fff; padding: 4px 12px; margin: 24px 0; }
.black-65 { background: url(../media/black-65-trans.png); color: #fff; padding: 4px 12px; margin: 24px 0; }
.black-85 { background: url(../media/black-85-trans.png); color: #fff; padding: 4px 12px; margin: 24px 0; }


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
